.body {
  background-color: $color-white;
  font-family: $font-family-primary;
  font-size: $font-size-regular;
  font-weight: 400;
  color: $color-primary;
}

.locked {
  overflow: hidden;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
.main {
  flex-grow: 1;
}

.container {
  max-width: calc($container-width + $container-padding * 2) + px;
  margin: 0 auto;
  padding: 0 $container-padding + px;
}

.section {
  margin-top: 120px;
  &__title {
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
    padding-right: 105px;
    font-size: 32px;
    font-weight: 700;
    line-height: 1.5;
    text-transform: uppercase;
    color: $color-primary-dark;

    &::after {
      position: absolute;
      right: 0;
      top: 50%;
      transform: translateY(-50%);
      content: '';
      width: 80px;
      height: 34px;
      background-image: url('@img/e-cig-outline.svg');
      background-size: cover;
    }
  }

  &__slider {
    position: relative;
  }
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  max-width: 270px;
  height: 100%;
  border: 1px solid $color-primary;
  border-radius: 20px;
  box-sizing: border-box;

  &__img {
    max-height: 228px;
    margin-bottom: 20px;
    object-fit: fill;
  }

  &__title {
    margin-bottom: 20px;
    font-size: 20px;
    font-weight: 500;
    line-height: 1.5;
    text-align: center;
    color: $color-primary-dark;
  }

  &__descr {
    margin-bottom: 20px;
    font-size: 14px;
    line-height: 1.5;
    text-align: center;
    color: $color-primary;
  }

  &__btn {
    margin-top: auto;
  }
}

.btn {
  padding: 5px 15px;
  color: $color-white;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  text-transform: uppercase;
  background-color: $color-primary;
  border: 1px solid transparent;
  border-radius: 10px;
  cursor: pointer;
  outline: none;
  transition: 0.3s;
  appearance: none;

  &:hover,
  &:focus {
    color: $color-primary;
    background-color: $color-white;
    border-color: $color-primary;
  }

  &--outline {
    padding: 10px;
    background-color: transparent;
    text-transform: none;
    border-color: $color-primary-light;
    color: $color-primary-light;

    &:hover,
    &:focus {
      border-color: $color-primary-dark;
      color: $color-primary-dark;
    }
  }

  &--active {
    border-color: $color-primary-dark;
    color: $color-primary-dark;
  }
}

.tabs {
  &__nav {
    display: flex;
    margin: 0 0 40px;
    padding: 0;
  }

  &__nav-item {
    list-style-type: none;
    & + & {
      margin-left: 20px;
    }
  }
  &__nav-btn {
    font-size: 20px;
  }
}

.filter {
  display: flex;
  margin: 0 0 40px;
  padding: 0;

  &__item {
    list-style-type: none;
    & + & {
      margin-left: 20px;
    }
  }

  &__btn {
    position: relative;
    padding: 0 10px 0 35px;
    font-size: 14px;
    text-transform: uppercase;
    &::before {
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      left: 10px;
      content: '';
      width: 20px;
      height: 20px;
      background-image: url('@img/tag-outline.svg');
    }
    &--active::before {
      background-image: url('@img/tag-fill.svg');
    }
  }
}

.download-btn {
  position: relative;
  display: flex;
  align-items: center;
  padding: 10px 20px 10px 15px;
  border: 1px solid $color-primary-light;
  border-radius: 40px;
  color: $color-primary-light;
  font-size: 12px;
  line-height: 1.2;
  transition: 0.3s;
  appearance: none;

  &:hover,
  &:focus {
    color: $color-primary-dark;
    border-color: $color-primary-dark;

    .download-btn__icon {
      stroke: $color-primary-dark;
    }
  }

  &--white {
    border: 1px solid $color-white;
    color: $color-white;

    &:hover,
    &:focus {
      border: 1px solid #e9e9e9;
      color: #e9e9e9;

      .download-btn__icon {
        stroke: #e9e9e9;
      }
    }
  }

  &__icon {
    stroke: $color-primary-light;
    transition: stroke 0.3s;
    margin-right: 10px;

    &--white {
      stroke: $color-white;
    }
  }
}

.swiper-slide {
  height: auto;
}

.swiper-button-prev,
.swiper-button-next {
  margin-top: 0;
  width: 40px;
  height: 40px;
}

.swiper-button-prev {
  left: 0;
  transform: translate(-50%, -100%);
  background-image: url('@img/arrow-prev.svg');

  &:hover,
  &:focus {
    background-image: url('@img/arrow-prev-darker.svg');
  }

  &--header {
    transform: translate(-50%, -100%);
    background-image: url('@img/arrow-prev-stroke.svg');
    &:hover,
    &:focus {
      background-image: url('@img/arrow-prev-stroke.svg');
    }
  }
}

.swiper-button-next {
  right: 0;
  transform: translate(50%, -100%);
  background-image: url('@img/arrow-next.svg');

  &:hover,
  &:focus {
    background-image: url('@img/arrow-next-darker.svg');
  }

  &--header {
    transform: translate(50%, -100%);
    background-image: url('@img/arrow-next-stroke.svg');
    &:hover,
    &:focus {
      background-image: url('@img/arrow-next-stroke.svg');
    }
  }
}

.swiper-pagination-bullets.swiper-pagination-horizontal {
  position: initial;
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.swiper-pagination-bullet {
  width: 10px;
  height: 10px;
  background-color: $color-primary-light;
  cursor: pointer;
  &-active {
    background-color: $color-primary-dark;
  }
}
