.header {
  height: 100vh;
  background-image: url('@img/smoke.png');
  background-size: cover;

  &__inner {
    display: flex;
    flex-direction: column;
  }

  &__topbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 0;
  }

  &__logo {
    width: 350px;
    margin: 0;
  }

  &__contacts {
  }

  &__link {
  }

  &__btn {
  }

  &__content {
  }
}

.logo {
  width: 350px;
  display: flex;
  align-items: center;
  &__img {
    width: 90px;
    height: 60px;
    margin-right: 13px;
  }
}
.menu {
  &__list {
    display: flex;
    margin: 0;
    padding: 0;
  }

  &__item {
    position: relative;
    list-style-type: none;
    padding: 15px 10px;
  }

  &__link {
    position: relative;
    color: $color-primary-light;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;

    &::before {
      position: absolute;
      content: '';
      width: 100%;
      height: 1px;
      background-color: $color-primary-dark;
      bottom: -10px;
      left: 0;
      transform: translateY(5px);
      opacity: 0;
      transition: 0.3s;
    }

    &:hover,
    &:focus {
      color: $color-primary-dark;
      &::before {
        transform: translateY(0);
        opacity: 1;
      }
    }

    &--dropdown {
      padding-right: 15px;

      &::after {
        position: absolute;
        content: '';
        width: 10px;
        height: 10px;
        background-image: url('@img/arrow-down.svg');
        background-size: cover;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }
  }

  &__submenu {
    position: absolute;
    top: 100%;
    left: 0;
    margin: 0;
    padding: 10px;
    border: 1px solid $color-primary;
    border-radius: 10px;
  }

  &__submenu-item {
    list-style-type: none;

    & + & {
      margin-top: 10px;
    }
  }

  &__submenu-link {
    color: $color-primary-light;
    font-weight: 500;
    font-size: 14px;
    text-transform: uppercase;
    transition: 0.3s;

    &:hover,
    &:focus {
      color: $color-primary-dark;
    }
  }
}
